body
	{width:554px;
	height:460px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:3;
	font-size:224%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet\2022;}
.B
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:164%;
	mso-margin-left-alt:552;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bulletC;}
.B1
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:144%;
	mso-margin-left-alt:1195;
	mso-text-indent-alt:735;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet\2022;}
.B2
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:122%;
	mso-margin-left-alt:1839;
	mso-text-indent-alt:1471;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bulletC;}
.B3
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:102%;
	mso-margin-left-alt:2574;
	mso-text-indent-alt:2206;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet\00BB;}
.B4
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:102%;
	mso-margin-left-alt:3310;
	mso-text-indent-alt:2942;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:36%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet\2022;}
.CB
	{text-align:center;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:164%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:144%;
	mso-margin-left-alt:735;
	mso-text-indent-alt:735;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:122%;
	mso-margin-left-alt:1471;
	mso-text-indent-alt:1471;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:102%;
	mso-margin-left-alt:2206;
	mso-text-indent-alt:2206;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:102%;
	mso-margin-left-alt:2942;
	mso-text-indent-alt:2942;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CT
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:224%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:144%;
	mso-margin-left-alt:552;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:122%;
	mso-margin-left-alt:1195;
	mso-text-indent-alt:735;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:102%;
	mso-margin-left-alt:1839;
	mso-text-indent-alt:1471;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:92%;
	mso-margin-left-alt:2574;
	mso-text-indent-alt:2206;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:92%;
	mso-margin-left-alt:3310;
	mso-text-indent-alt:2942;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:122%;
	mso-margin-left-alt:552;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:102%;
	mso-margin-left-alt:1195;
	mso-text-indent-alt:735;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:92%;
	mso-margin-left-alt:1839;
	mso-text-indent-alt:1471;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:82%;
	mso-margin-left-alt:2574;
	mso-text-indent-alt:2206;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:82%;
	mso-margin-left-alt:3310;
	mso-text-indent-alt:2942;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:144%;
	mso-margin-left-alt:552;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:122%;
	mso-margin-left-alt:1195;
	mso-text-indent-alt:735;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:102%;
	mso-margin-left-alt:1839;
	mso-text-indent-alt:1471;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:92%;
	mso-margin-left-alt:2574;
	mso-text-indent-alt:2206;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4
	{font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-size:92%;
	mso-margin-left-alt:3310;
	mso-text-indent-alt:2942;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:92%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;
	mso-fareast-language:ZH-CN;}
a:link
	{color:#009999 !important;}
a:active
	{color:#333399 !important;}
a:visited
	{color:#99CC00 !important;}
